body { 
  margin: 0; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  background-color: #FAEDCA; 
  color: #333; 
} 
 
header { 
  background-color: #F2C078; 
  color: #FE5D26; 
  padding: 40px 20px; 
  text-align: center; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
} 
 
header h1 { 
  margin: 0; 
 
  font-size: 2.5rem; 
} 
 
nav { 
  background-color: #FE5D26; 
  padding: 12px; 
  text-align: center; 
} 
 
nav a { 
  color: white; 
  text-decoration: none; 
  margin: 0 12px; 
  font-weight: 600; 
  transition: 0.3s; 
} 
 
nav a:hover { 
  color: #333; 
  background-color: #C1DBB3; 
  padding: 6px 10px; 
  border-radius: 6px; 
} 
 
.faq-container { 
  max-width: 900px; 
  margin: 50px auto; 
  padding: 30px; 
  background-color: white; 
  border-radius: 12px; 
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12); 
} 
 
.faq-item { 
  margin-bottom: 30px; 
  padding-left: 20px; 
  border-left: 4px solid #FE5D26; 
} 
 
.faq-item h2 { 
 
  font-size: 1.3rem; 
  color: #FE5D26; 
} 
 
.faq-item p { 
  font-size: 1.05rem; 
  line-height: 1.6; 
  color: #444; 
} 
 
.faq-question { 
  border-radius: 12px; 
  padding: 5px; 
  border: #c5c2c0 solid; 
  width: 650px; 
} 
 
.faq-answers { 
  display: none; 
 
} 
 
.faq-highlight { 
  background-color: #F2C078; 
  color: #FE5D26; 
  padding: 8px 16px; 
  border-radius: 8px; 
  font-weight: bold; 
  display: inline-block; 
  margin-top: 10px; 
} 
 
.modal { 
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0; 
  top: 0; 
  width: 100%; 
  height: 100%; 
 
  background-color: rgba(0, 0, 0, 0.6); 
} 
 
.modalContent { 
  background-color: white; 
  margin: 15% auto; 
  padding: 30px; 
  width: 60%; 
  border-radius: 10px; 
  position: relative; 
  text-align: center; 
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); 
} 
 
.close { 
  position: absolute; 
  top: 12px; 
  right: 16px; 
  font-size: 24px; 
  font-weight: bold; 
  color: #FE5D26; 
  cursor: pointer; 
} 
 
.Pop { 
  text-align: center; 
  margin-top: px; 
} 
 
#openOffer { 
  padding: 10px 20px; 
  font-size: 16px; 
  background-color: #FE5D26; 
  color: white; 
  border: none; 
  border-radius: 8px; 
} 
 
footer { 
  background: linear-gradient(to right, #004D40, #00796B); 
 
  padding: 20px; 
  text-align: center; 
  font-size: 14px; 
  color: #FFF8E1; 
  margin-top: 40px; 
  border-top: 4px solid #B2DFDB; 
} 
 
footer a { 
  text-decoration: none; 
  color: #FFCCBC; 
  margin: 0 10px; 
  font-weight: bold; 
} 
 
footer a:hover { 
  color: #FFD54F; 
  text-decoration: underline; 
} 