body { 
  margin: 0; 
  font-family: Arial, sans-serif; 
  background-color: #FFFBDE; 
  color: #096B68; 
} 
 
header { 
  background-color: #90D1CA; 
  padding: 20px; 
  text-align: center; 
} 
 
header h1 { 
  color: #129990; 
  margin: 0; 
} 
 
header p { 
  font-style: italic; 
  margin-top: 10px; 
} 
 
nav { 
  background-color: #129990; 
  padding: 10px; 
  text-align: center; 
 
  flex-wrap: wrap; 
} 
 
nav a { 
  color: white; 
  text-decoration: none; 
  margin: 0 10px; 
  font-weight: bold; 
} 
 
nav a:hover { 
  background-color: #096B68; 
  padding: 6px 10px; 
  border-radius: 5px; 
} 
 
.gallery { 
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
  gap: 25px; 
  padding: 30px; 
} 
 
.gallery-item { 
  background-color: #a9d3cf; 
  border-radius: 12px; 
  padding: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center; 
} 
 
.gallery-item img { 
  width: 100%; 
  height: 200px; 
 
  object-fit: cover; 
  border: 4px solid #90D1CA; 
  border-radius: 10px; 
  transition: transform 0.3s, filter 0.3s; 
  cursor: pointer; 
} 
 
.gallery-item img:hover { 
  transform: scale(1.05); 
  filter: brightness(1.05); 
} 
 
.caption { 
  margin-top: 10px; 
  font-weight: bold; 
} 
 
footer { 
  background: linear-gradient(to right, #004D40, #00796B); 
  padding: 20px; 
  text-align: center; 
  font-size: 14px; 
  color: #FFF8E1; 
  margin-top: 40px; 
  border-top: 4px solid #B2DFDB; 
} 
 
footer a { 
  text-decoration: none; 
  color: #FFCCBC; 
  margin: 0 10px; 
  font-weight: bold; 
} 
 
 
footer a:hover { 
  color: #FFD54F; 
  text-decoration: underline; 
} 